@media (max-width: 900px) {

  .arrow {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);  
    margin-left: 15px;
    width: 69px;
    margin-bottom: 40px;
  }

  .arrow img {
    width: 75px;
  }

  .drop-down-menu {  
    margin-top: 80%;
    position: fixed;
  }

  .menu-item a {
    text-decoration: none;
    color: rgb(140,91,123);
  }

  .drop-down-menu ul {
    list-style-type: none;
    font-size: 2.75em;
    text-align: center;
    background-color: rgba(221,224,207, 0.8);
    border-radius: 12%;
    margin: auto;
    width: 74%;
  }

  #about {
    display: block;
    width: 95%;
    margin: 0;
    font-size: 1.75em;
    color: whitesmoke;
    background-color: rgba(140,91,123, 0.8);
    border-radius: 9%;
  }

  #about p {
    padding: 44px;
    margin-top: 0;
  }

  #portfolio {
    height: 78%;
    width: 1750px;
    overflow: scroll;  
  }

  #portfolio div {
    border-radius: 9%;
    background-color: rgba(147,116,96, 0.8);
    color: #DDE0CF;
    width: 19%;
    font-size: 1.25em;
    margin: 0.28%;
    display: inline-block;
    float: left;
  }

  #portfolio img,
  #portfolio h3,
  #portfolio p {
    width: 85%;
    text-align: center;
  }

  #hire-me {
    width: 95%;
    margin: 0;
    background-color: rgba(198,190,154,0.9);
    color: #8C5B7B;
    border-radius: 9%;
  }

  #hire-me p,
  #hire-me ul {
    font-size: 1.75em;
    width: 90%;
    margin: auto;
    padding: 5%;
  }

  #hire-me ul {
    list-style-type: none;
    padding: 0;
  }

  #resume {
    width: 73%;
    height: 10%;
    margin: auto;
    margin-top: 77%;
    padding-top: 7%;
  }

  #resume a {
    padding: 24px;
    background-color: rgba(147,116,96, 0.7);
    border-radius: 21%;
    color: whitesmoke;
    font-size: 1.5em;
  }

}
