body { 
  background: url('../images/headshot.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'HelsinkiXXL', sans-serif;
  color: whitesmoke;
}

@font-face {
  font-family: 'HelsinkiXXL';
  src: url('../fonts/HelsinkiXXL/HelsinkiXXL-Thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelsinkiXXL/HelsinkiXXL-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelsinkiXXL/HelsinkiXXL-Thin.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/HelsinkiXXL/HelsinkiXXL-Thin.ttf')  format('truetype'); /* Safari, Android, iOS */
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: lemonchiffon;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  line-height: 40px;
}

#about {
  margin-top: 10%;
  margin-bottom: 7%;
  font-size: 30px;
}

span {
  font-size: 22px;
  margin-left: 5px;
}

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    *zoom: 1;  
}  

