html { 
  background: url('../images/headshot.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'HelsinkiXXL', Fallback, sans-serif;
}

@font-face {
  font-family: 'HelsinkiXXL';
  src: url('../fonts/HelsinkiXXL/HelsinkiXXL-Thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelsinkiXXL/HelsinkiXXL-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/HelsinkiXXL/HelsinkiXXL-Thin.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/HelsinkiXXL/HelsinkiXXL-Thin.ttf')  format('truetype'); /* Safari, Android, iOS */
}

a {
  text-decoration: none;
}

.arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);  
  margin-left: 15px;
  width: 130px;
  margin-bottom: 100px;
}

.nose {
  position: absolute;
  top: 560px;
  left: 411px;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 110px solid transparent;
  cursor: pointer;
}

.drop-down-menu {
  position: absolute;
  top: 691px;
  left: 283px;
  border-radius: 5px;
}

.menu-item a {
  text-decoration: none;
  color: rgb(140,91,123);
}

.drop-down-menu ul {
  list-style-type: none;
  font-size: 80px;
  text-align: center;
  background-color: rgba(221,224,207, 0.6);
  padding-right: 40px;
}

#about {
  display: block;
  width: 80%;
  margin: auto;
  font-size: 80px;
  color: whitesmoke;
  background-color: rgba(140,91,123, 0.5);
  border-radius: 25px;
}

#about p {
  padding: 44px;
  margin-top: 0;
}

#portfolio div {
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(147,116,96);
  color: #DDE0CF;
  width: 90%;
  font-size: 60px;
  margin: auto;
  margin-bottom: 40px;
}

#portfolio img,
#portfolio h3,
#portfolio p {
  width: 95%;
  margin-left: 20px;
}

#hire-me {
  width: 90%;
  margin: auto;
  background-color: rgba(198,190,154,0.9);
  color: #8C5B7B;
  width: 90%;
  border-radius: 25px;
  padding: 20px;
}

#hire-me p,
#hire-me ul {
  font-size: 70px;
  width: 90%;
  margin: auto;
}

#hire-me ul {
  list-style-type: none;
  padding: 0;
}

#resume {
  width: 95%;
  margin: auto;
}

.download {
  height: 21px;
  width: 103px;
  position: absolute;
  top: 264px;
  left: 58px;
  cursor: pointer;
}

#resume img {
  width: 95%;
  margin: auto;
}


